/* BLUE COLOR #6e73f2

*/


* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;

}

html,
body {
    background-color: #ffffff;
    color: #555;
    font-family: 'Lato', 'Arial', sans-serif;
    font-size: 20px;
    font-weight: 300;
    text-rendering: optimizeLegibility;
}

.clearfix {
    zoom: 1;
}

.clearfix:after {
    clear: both;
    content: '.';
    display: block;
    height: 0;
    visibility: hidden;
}



h1 {
    color: #4d4d4d;
    text-align: center;
}



/*------------*/
/* REUSABLE COMPONENTS */
/*--------------*/

.doctor-flex {
    display: flex;
    flex-direction: row;
    padding-left: 20px;

}


.indent {
    text-indent: 70px;
}

form {
    /* Just to center the form on the page */
    margin: 0 auto;
    width: 600px;

}

input,
textarea {

    /* To give the same size to all text fields */
    border: 1px solid #999;
    box-sizing: border-box;
    height: 50px;
    width: 100%;
}

textarea {
    /* To give enough room to type some text */
    height: 5em;
    /* To properly align multiline text fields with their labels */
    vertical-align: top;


}

.submit {
    background-color: #4b51f5;
    color: #fff;

}



/*-----HEADING-----*/



/* HEADER */

header {
    background-attachment: fixed;
    background-image: linear-gradient(rgba(132, 132, 132, 0.44), rgba(0, 0, 0, 0.7)), url("https://github.com/jefflow6/cfldv2/tree/master/images/officeview.jpg");
    background-position: center;
    background-size: cover;
    height: 50vh;


}

.cfld-name {
    margin-bottom: 4px;
    padding: 2;

}



/*-----main-nav-----*/
.main-nav {
    float: right;
    list-style: none;
    margin-top: 55px;

}

.main-nav li {
    display: inline-block;
    margin-left: 50px;
}

.main-nav li a:link,
.main-nav li a:visited {
    padding: 8px 8px;
    color: #ffffff;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 130%;
    border-bottom: 2px solid transparent;
    -webkit-transition: border-bottom 0.2s;
    transition: border-bottom 0.2s;
}

.main-nav li a:hover,
.main-nav li a:active {
    border-bottom: 2px solid #4b51f5;


}

/*------index page----*/

.cfld-title {
    padding: 10px;
    50px;
    text-align: center;
    font-size: 30px;
}


.cfld-title p {

    font-size: 18px;
    text-align: center;

}

@media(max-width: 600px) {
    .cfld-title img {
        width: 50px;
        height: 100px;
    }

    .cfld-title h2 {
        font-size: 30px;
    }

    .cfld-title h3 {
        font-size: 28px;
    }

    .cfld-title p {
        font-size: 20px;
    }
}

.intro {

    background-color: #fff;


    margin-right: auto;
    margin-left: auto;

}


.cfld-name {
    margin-left: auto;
    margin-right: auto;
    font-size: 90px;
    width: 70%;


}

.mission {
    font-size: 30px;
    margin-right: auto;
    margin-left: auto;
    margin-bottom: 25px;
    padding: 20px 60px;
    text-align: center;

}

.about-us {
    color: aliceblue;
    background-color: #5893d4;
    text-align: center;
    margin-right: auto;
    margin-left: auto;
    padding-bottom: 20px;
    font-size: 28px;
}

.about-us p {
    padding: 8px 30px;
}

.doctors-names {
    margin-left: 2px;
    padding: 10px 40px;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    font-size: 25px;

}

@media (max-width: 1000px) {
    .doctors-names h4 {
        font-size: 13px;
        padding: 8px;
    }
}


.doctors-names a {
    color: #4d4d4d;
    text-decoration: none;

}


.breath img {
    height: 500px;
    border-radius: 8px;
    width: 100%;
    background-size: cover;
}

@media(max-width: 600px) {
    .breath img {
        width: 100%;
        height: 300px;
    }
}

.breath {
    text-align: center;
    background-color: #5893d4;


}

.ins-title {
    margin-top: 20px;
    padding-bottom: 40px;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    font-size: 40px;
}

.ins-section {
    padding-top: 20px;
    margin-left: auto;
    margin-right: auto;
}

@media(max-width: 600px) {
    .ins-section {
        font-size: 10px;
    }

}

.ins-list {
    list-style: none;
    margin-left: auto;
    margin-right: auto;
    width: 80%;
    font-size: 28px;
}

.ins-list img {
    float: left;
    display: block;
    width: 200px;

}

.appt-title {
    margin-top: 40px;
    padding-bottom: 40px;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    font-size: 40px;
}

.appt-title {
    padding: 8px 0px;
    color: aliceblue;
    text-align: center;
    background-color: #5893d4;
}

.appt {
    color: aliceblue;
    background-color: #5893d4;
    text-align: center;

    font-size: 30px;
    padding: 20px 0px;
}




.contact-title {
    margin-top: 20px;
    padding-bottom: 40px;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    font-size: 40px;

}


/*-----Doctors Page------- */

.column {
    float: left;
    width: 25%;
    padding: 15px;
    padding-left: 20px;
}

.column img {
    border-radius: 8px;
}

.drhakimg img {
    width: 201px;
}

.drtabackimg img {
    width: 160px;
}

.doctors {
    background-color: rgba(255, 255, 255, 0.94);
    padding-left: 2px;
    padding-right: 2px;

}

.doctor-list {
    background-color: #fff;
    padding-left: 300px;
    padding-right: 300px;

}

.doctor-list li {
    display: block;
    padding: 5px;
    margin-left: 5px;
    padding-bottom: 25px;
}

.doctors img {
    padding: 5px;
    display: inline-block;
    width: 200px
}

.doctor-list p {
    padding: 10px;

}

.cfld-title {
    padding-top: 20px;
    margin-right: 100px;

    margin-left: 100px;

    font-size: 30px;
}

.cfld-title img {
    width: 150px;
    display: inline-block;
    float: left;
}

.cfld-title h3 {
    text-align: center;

}

.staff {

    padding: 15px;
    text-align: center;


}

.staff-manager {
    text-align: center;
    padding: 20px;



}

.staff-manager img {
    width: 400px;
    height: 200px;




}

.staff img {}



.staff-title {
    text-align: center;
}

/*------Services----*/
.title-services {
    color: #fff;
    background-color: #5893d4;

    text-align: center;
    padding-top: 0px;
    margin-top: 0px;
    margin-bottom: px;
    font-size: 40px;
}

.section-meals {
    background-color: #5893d4;
    padding: 10px;
}

.meals-showcase {
    list-style: none;
    width: 100%;

}

.meals-showcase li {
    display: block;
    float: left;
    width: 20%;
    padding: px;
    color: white;
    font-size: 20px;
    text-align: center;
}

.meal-photo {
    width: 100%;
    margin-left: 0px;
    overflow: hidden;


}

.meal-photo i {
    color: aliceblue;
    padding: 0px 10px;
    text-align: center;
    font-size: 60px;
}



.meal-photo i:hover {
    opacity: 1;
    transform: scale(1.03);
    color: red;
}


/*-----Contact page-----*/
.app-form {
    width: 600px;
    background: transparent;
    border: none;
    outline: none;
    border-bottom: 1px solid gray;
    color: #fff;
    font-size: 8px;
    margin-bottom: 16px;
}

.contact h1 {
    font-size: 200%;
}

.contact-section h2 {
    text-align: center;
    color: #4d4d4d;
}


.contact h3 {
    text-align: center;
    padding: 10px 0px;
    font-size: 40px;

}

.contact button {
    width: 200px;
    height: 50px;
    font-size: 20px;
}

.new-pt {
    text-align: center;
    padding-top: 10px;
    padding-bottom: 10px;
    margin-left: 30px;
}

.contact-section {

    background-color: #fff;
}

.office-title {
    text-align: center;
}

.burbank-list {
    font-size: 28px;
    padding: 8px 70px;

}

.burbank-list iframe {
    float: left;
}

.burbank-list p {
    background-color: ;
    text-align: center;
    padding: 8px 50px;
}

@media(max-width: 600px) {
    .burbank-list p {
        padding-bottom: 20px;
        font-size: 20px;
    }

    .burbank-list img {
        width: 300px;
        height: 200px;
    }

    .burbank-list iframe {
        width: 300px;
        height: 200px;
        padding-bottom: 20px;
    }

}





.glendale-list {

    font-size: 28px;
    padding: 8px 70px;
}

.glendale-list p {
    background-color: ;
    text-align: center;
    padding: 8px 50px;
}





/*-----Hakimi page------- */

.haki-flex {
    display: flex;
    flex-direction: row;
    padding-left: 20px;


}

.haki-flex img {
    border-radius: 20px;
}

.hak-intro {
    line-height: 30px;
    padding-top: 10px;
    padding-bottom: 10px;
    font-size: 20px;
    padding-left: 60px;
    padding-right: 60px;
}

.hak-treatment {
    display: flex;
    flex-direction: column;
    padding-right: 40px;
    padding-bottom: 10px;
}

.hak-treatment li {
    padding: 10px 40px;
    font-size: 20px;

}



.hak-title {
    padding-top: 8px;
    padding-bottom: 10px;
}


/*-----Taback page------- */



.taback-flex {
    display: flex;
    flex-direction: row;
    padding-left: 20px;
    padding-top: 20px;

}


.taback-intro {
    line-height: 30px;
    padding-top: 10px;
    padding-bottom: 10px;
    font-size: 20px;
    padding-left: 60px;
    padding-right: 60px;
}

.taback-flex img {
    border-radius: 10px;

}

.taback-treatment {

    display: flex;
    flex-direction: column;
    padding-right: 40px;
    padding-bottom: 10px;
}

.taback-treatment li {
    padding: 10px 40px;
    font-size: 20px;
}

/*-----Soly page------- */

.soly-flex {
    display: flex;
    flex-direction: row;
    padding-left: 20px;
    padding-top: 30px;
}

.soly-flex img {
    border-radius: 10px;
    width: 300px;
}

.soly-treatment {
    display: flex;
    flex-direction: column;
    padding-bottom: 10px;
    padding-right: 40px;
}

.soly-treatment li {
    padding: 10px 40px;
    font-size: 20px;
}

.soly-intro {
    line-height: 30px;
    padding-top: 5px;
    padding-bottom: 40px;
    font-size: 20px;
    padding-left: 60px;
    padding-right: 60px;
}


.clearfix::after {
    content: "";
    clear: both;
    display: table;
}

/*-----Dr Anand-----*/
.anand-flex {
    display: flex;
    flex-direction: row;
    padding-left: 20px;
    padding-top: 30px;
}

.anand-intro {
    line-height: 30px;
    padding-top: 28px;
    padding-bottom: 4px;
    font-size: 20px;
    padding-left: 90px;
    padding-right: 150px;

}

.anand-pic {
    float: left;
    padding: 20px 70px 150px 30px;

}

.anand-treatment {
    padding: 10px 0px 30px 50px;
}

.anand-treatment li {
    padding: 2px 10px 10px 20px;
}




/*----Our Services---*/
.pft-test {
    line-height: 30px;
    text-align: justify;
    padding-top: 8px;
    padding-bottom: 5px;
    font-size: 20px;
    margin-right: 180px;
    margin-left: 80px;
}

.pft-test img {
    float: left;
    height: 300px;
    padding: 15px;
    width: 400px;
}

.pft-test p {
    padding-top: 50px;
}

.pre-post-test {
    line-height: 30px;
    text-align: justify;
    padding-top: 8px;
    padding-bottom: 5px;
    font-size: 20px;
    margin-right: 180px;
    margin-left: 80px;
}

.pre-post-test img {
    float: left;
    padding: 20px;
    height: 300px;
    width: 400px;
}

.pre-post-test p {
    padding-top: 50px;
}

/*-----FOOTER-----*/

footer {
    float: none;
    width: 100%;
    background-color: #5893d4;

    padding: 25px;
    font-size: 80%;
    display: inline-block;
    margin-top: 1%;

}



footer p {
    color: #fff;
    text-align: center;
    font-size: 90%;
    margin-top: 10px;
}
